[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fasano.franceschini.test"]
	path = fasano.franceschini.test
	url = https://github.com/braunlab-nu/fasano.franceschini.test
